In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('train_ver2_200.csv')
df

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2015-01-28,1050932,N,ES,V,26,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
195,2015-01-28,1050933,N,ES,H,23,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
196,2015-01-28,1050934,N,ES,H,29,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
197,2015-01-28,1050935,N,ES,V,25,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0
198,2015-01-28,1050936,N,ES,V,29,2012-08-10,0,35,1,...,0,0,0,0,0,0,0,0,0,0